<!DOCTYPE html>
<html lang="fr">
<head>
    <title>BugSmash</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/static/devc.css">
</head>
<body id="index" class="home">
    <style>
    body {
background-image: url("/static/bg.jpg");
}
    </style>
    <div class="container">


<center> <h1> Bug Smash</h1></center>
</div>
<div id="links">

</div>
<div id="content">
    <!-- ************  CODING ZONE  ************ -->
    <div id="title-code" class="head-section">
      Problem:
      <div class="">
          {{ statement }}

      </div> <br><br>
    <div id="code">

        <form method="post" action="{{ url_for(target) }}">


            </div>

            <input id="launch-button" class="head-section" type="submit" value="Run Code" />
            {% block code %}
            {% endblock %}
        </form>
    </div>

    <!-- ************ RUNNING ZONE RESULTS ************ -->

    <div id="result">
        {% block run %}
        {% endblock %}
    </div>

<div id="compile">
    <center><a href="/{{next}}"> <button type="button" name="NEXT">Next Question</button></a></center>
</div>


    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
